.{
	margin: 0px;
	padding: 0px;
}
#box{
	margin: auto;
	margin-top: 60px;
	width: 900px;
	height: 400px;
	border: 1px solid black;
    float: inherit;
    column-count: 3;
    column-gap: 100px;
}
   
h1{
	
}

#left-box{
	width: 250px;
	height:250px;
	line-height: 1.2; font-size: 1em
}
#center-box{
	width: 250px;
	height:250px;
	line-height: 1.2; font-size: 1em
}
#right-box{
	width:250px;
	height:250px;
	line-height: 1.2; font-size: 1em
}